@font-face {
  font-family: "Gilroy"
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans"
    src: url("../fonts/opensanslight.woff2") format("woff2");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.main-body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.container-center {
  width: 1160px;
  position: relative;
  margin: 0 auto;
}

.nav {
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 50px;
  position: relative;
  width: 1160px;
}

.logo {
  padding-left: 60px;
}

.logo:focus,
.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.nav::before {
  content: "";
  position: absolute;
  background-color: rgb(247, 226, 150);
  width: 100%;
  height: 120%;
  z-index: -1;
  top: 40px;
  left: 0;
}

.nav-user {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-user-list {
  list-style: none;
  width: 500px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-form {
  width: 450px;
  flex-grow: 1;
  margin-right: 50px;
  position: relative;
}

.search-form input {
  width: 350px;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-bottom: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  opacity: 0.3;
}

.search-form input:hover {
  opacity: 0.6;
}

.search-form input:focus {
  opacity: 1;
}

.nav-search-submit {
  display: none;
  position: absolute;
  vertical-align: top;
  padding-top: 19px;
  padding-right: 21px;
  padding-bottom: 19px;
  padding-left: 21px;
  top: -15px;
  right: 46px;
  background-color: transparent;
  border: none;
  border: 2px solid rgb(0, 0, 0);
}

.nav-search-submit:hover,
.nav-search-submit:focus {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.nav-search-submit:active {
  display: block;
  color: rgb(116, 116, 116);
  background-color: rgb(0, 0, 0);
}

.nav-search-submit::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 441px;
  bottom: -2px;
  right: 0;
  background-color: rgb(0, 0, 0);
}

.search-form input:focus+.nav-search-submit {
  display: block;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 7px;
  background-image: url("../img/search.svg");
}

.nav-user-item a {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 115px;
}

.nav-user-authorization {
  width: 280px;
}

.nav-user-authorization:hover,
.nav-user-authorization:focus {
  opacity: 0.6;
}

.nav-user-authorization:active {
  opacity: 0.3;
}

.nav-user-authorization a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  left: 0;
  top: 13px;
  background-image: url("../img/user.svg");
}

.nav-user-authorization a {
  color: rgb(0, 0, 0);
  padding-right: 20px;
  padding-left: 25px;
}

.nav-user-compare:hover,
.nav-user-compare:focus {
  opacity: 0.6;
}

.nav-user-compare:active {
  opacity: 0.3;
}

.nav-user-compare a {
  color: rgb(0, 0, 0);
  padding-right: 41px;
}

.nav-user-compare a::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 14px;
  background-image: url("../img/compare.svg");
}

.nav-user-basket {
  text-align: right;
}

.nav-user-basket:hover,
.nav-user-basket:focus {
  opacity: 0.6;
}

.nav-user-basket:active {
  opacity: 0.3;
}

.nav-user-basket a {
  color: rgb(0, 0, 0);
  padding-right: 0;
}

.nav-user-basket a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0px;
  top: 13px;
  background-image: url("../img/basket.svg");
}

.nav-container {
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-item {
  width: 166px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 20px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: left;
}

.nav-item:hover,
.nav-item:focus {
  opacity: 0.6;
}

.nav-item:active {
  opacity: 0.3;
}

.nav-item a {
  color: rgb(0, 0, 0);
}

.nav-list {
  list-style: none;
  width: 500px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-item:nth-child(3n+3) {
  text-align: right;
  padding-right: 0;
}

.nav-item:nth-child(3n+2) {
  padding-right: 20px;
}

.nav-item-catalog {
  flex-grow: 1;
  position: relative;
}

.nav-item-catalog::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  right: -15px;
  top: 22px;
}

.nav-item-catalog::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 4;
  right: -8px;
  top: 15px;
}

.nav-catalog {
  display: none;
  position: absolute;
  z-index: 2;
  width: 1160px;
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  left: 0;
  bottom: -87px;
  background-color: rgb(247, 226, 150);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-catalog-container:hover .nav-catalog,
.nav-catalog-container:focus .nav-catalog {
  display: flex;
}

.nav-catalog-container:hover .nav-catalog .catalog-list,
.nav-catalog-container:focus .nav-catalog .catalog-list {
  display: block;
}

.catalog-list {
  display: none;
  list-style: none;
  padding-bottom: 13px;
}

.catalog-item {
  text-transform: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  padding-left: 20px;
}

.catalog-item:hover,
.catalog-item:focus {
  opacity: 0.6;
}

.catalog-item:active {
  opacity: 0.3;
}

.catalog-item a {
  color: rgb(0, 0, 0);
}

/* --------------------------------СЛАЙДЕР ПРОМО --------------------------------------- */

.promo {
  position: relative;
}

.promo-slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 100px;
}

.promo-slider-item {
  display: none;
}

.slider-quadcopter {
  padding-right: 0;
}

.slider-img-container {
  margin-right: 40px;
  width: 560px;
  text-align: center;
  vertical-align: top;
}

.promo-number {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -36px;
  right: 55px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179.2px;
  font-weight: 800;
  line-height: 179.2px;
  color: rgb(255, 255, 255);
}

.promo-slider-container {
  width: 500px;
  padding-top: 60px;
}

.promo-slider-container :last-child {
  margin-bottom: 0;
}

.promo-title::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  top: -35px;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.promo-title {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  color: rgb(0, 0, 0);
}

.promo-desc {
  display: block;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.promo-item-button {
  margin-bottom: 40px;
  margin-right: 20px;
}

.button {
  position: relative;
  display: inline-block;
  padding-top: 14px;
  padding-right: 44px;
  padding-left: 44px;
  padding-bottom: 11px;
  font-family: "Gilroy", "Arial", sans-serif;
  vertical-align: top;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.button:focus,
.button:hover {
  background-color: rgb(240, 197, 46);
}

.button:active {
  background-color: rgb(240, 197, 46);
  color: rgb(190, 156, 34);
}

.button::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  top: 21px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(240, 197, 46);
  z-index: -1;
}

.promo-table {
  margin-bottom: 34px;
  margin-left: -80px;
  margin-top: -25px;
  text-align: left;
  border-spacing: 80px 25px;
}

.promo-table-value {
  padding-right: 80px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: rgb(0, 0, 0);
}

.promo-table-desc {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: rgb(0, 0, 0);
}

.promo-slider-controls {
  position: absolute;
  right: 60px;
  bottom: 160px;
  z-index: 1;
  height: 18px;
  text-align: center;
  font-size: 0;
}

.promo-slider-controls label {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  padding: 7px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

#product-1:checked~.promo-slider-controls .slider-controls-item-1::after,
#product-2:checked~.promo-slider-controls .slider-controls-item-2::after,
#product-3:checked~.promo-slider-controls .slider-controls-item-3::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  width: 7px;
  height: 7px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
}

#product-1:checked~.promo-slider-list .promo-slider-item:nth-child(1) {
  display: flex;
  flex-direction: row;
}

#product-2:checked~.promo-slider-list .promo-slider-item:nth-child(2) {
  display: flex;
  flex-direction: row;
}

#product-3:checked~.promo-slider-list .promo-slider-item:nth-child(3) {
  display: flex;
  flex-direction: row;
}

.main-catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  weight: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-catalog-item {
  position: relative;
  width: 165px;
  margin-right: 32px;
  margin-bottom: 80px;
  padding-top: 200px;
  letter-spacing: -1px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
}

.main-catalog-item::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  background-color: rgb(247, 226, 150);
}

.main-catalog-item:active a {
  color: rgba(0, 0, 0, 0.3)
}

.main-catalog-item:nth-child(6n+6) {
  margin-right: 0;
}

.main-catalog-item a {
  color: rgb(0, 0, 0);
}

.item-virtual::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.item-virtual:active::after {
  opacity: 0.3;
}

.item-monopod::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.item-monopod:active::after {
  opacity: 0.3;
}

.item-camera::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.item-camera:active::after {
  opacity: 0.3;
}

.item-bracelet::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.item-bracelet:active::after {
  opacity: 0.3;
}

.item-clock::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.item-clock:active::after {
  opacity: 0.3;
}

.item-quadcopter::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.item-quadcopter:active::after {
  opacity: 0.3;
}

.main-catalog-item:hover::before,
.main-catalog-item:focus::before {
  background-color: rgb(240, 197, 46);
}

.main-catalog-item:active::before {
  background-color: rgb(240, 197, 46);
}

/* --------------------------------СЛАЙДЕР СЕРВИСЫ --------------------------------------- */

.services {
  position: relative;
  margin-bottom: 160px;
  min-height: 290px;
}

.services::before {
  content: "";
  position: absolute;
  background-color: rgb(229, 229, 229);
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 24px;
  left: 0;
}

.container-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services-slider-controls {
  position: relative;
  width: 285px;
  margin-right: 120px;
  /* border-right: 7px solid rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.services-slider-controls::after {
  content: "";
  position: absolute;
  height: 160%;
  width: 7px;
  top: -50%;
  transform: translateY(43px);
  right: 0;
  background-color: rgb(0, 0, 0);
}

.services-controls-item {
  position: relative;
  width: 160px;
  margin-bottom: 25px;
  padding-top: 12px;
  padding: 12px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
}

.services-controls-item::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 160px;
  top: 20px;
  left: 0;
  background-color: rgb(240, 197, 46);
  z-index: -1;
}

.services-controls-item:hover,
.services-controls-item:focus {
  background-color: rgb(240, 197, 46);
}

.services-controls-item:active {
  width: 280px;
  padding-right: 130px;
  color: rgb(247, 225, 132);
  background-color: rgb(0, 0, 0);
}

.services-slider-guarantee,
.services-slider-credit,
.services-slider-delivery {
  display: none;
}

.services-slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-slider-item {
  position: relative;
  width: 460px;
  padding: 0;
  margin: 0;
}

#delivery:checked~.services-slider-list .services-slider-delivery,
#guarantee:checked~.services-slider-list .services-slider-guarantee,
#credit:checked~.services-slider-list .services-slider-credit {
  display: block;
}

#delivery:checked~.services-slider-controls .slider-controls-delivery,
#guarantee:checked~.services-slider-controls .slider-controls-guarantee,
#credit:checked~.services-slider-controls .slider-controls-credit {
  width: 280px;
  padding-right: 130px;
  color: rgb(247, 225, 132);
  background-color: rgb(0, 0, 0);
}

.services-slider-title {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: rgb(0, 0, 0);
  text-align: left;
}

.services-slider-desc {
  margin-bottom: 20px;
}

.services-slider-delivery::after {
  content: "";
  position: absolute;
  width: 136px;
  height: 164px;
  top: 0;
  right: -200px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}

.services-slider-guarantee::after {
  content: "";
  position: absolute;
  width: 171px;
  height: 194px;
  top: -17px;
  right: -200px;
  background-image: url("../img/guarantee.svg");
  background-repeat: no-repeat;
}

.services-slider-credit::after {
  content: "";
  position: absolute;
  width: 156px;
  height: 186px;
  top: 0;
  right: -200px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.partners {
  margin-bottom: 110px;
}

.partners-list {
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;

}

.partners-item {
  width: 260px;
  height: 100px;
  padding: 0;
  margin: 0;
  margin-right: 40px;
  margin-bottom: 40px;
}

.partners-item  img {
filter: grayscale(1);
opacity: 0.2;
}

.partners-item:nth-child(4n+4) {
  margin-right: 0;
}

.partners-item a:hover img,
.partners-item a:focus img {
  filter: none;
  opacity: 1;
}
