@font-face {
  font-family: "Gilroy"
  src: 
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans"
  src: url("../fonts/opensanslight.woff2") format("woff2");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
 }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.main-body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.container-center {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  /* background-color: rgb(255, 255, 255); */
}

.nav {
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 21px;
  position: relative;
  width: 1160px;
}

.nav::before {
  content: "";
  position: absolute;
  background-color: rgb(247, 226, 150);
  width: 1160px; 
  height: 299px;
  z-index: -1;
  top:40px;
  left: 0;
}

.nav-user {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-user-search {
  /* background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green; */
}

.search-form input {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  padding-left: 40px;
  position: relative;
}

.search-form input::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

